@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  height: 100%;
  margin: 0;
}

@layer components{

  .rotate{
    transform: rotate(-5deg);
  }

  .listItem{
    overflow: visible;
    cursor: pointer;
    line-height: 1;
  }
  
  .listItem p{
    font-size: 64px;
    font-weight: 900;
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    text-transform: uppercase;
  }

  .text-shadow {
    text-shadow: 2px 2px 6px white;
  }
  .text-shadow-dark {
    text-shadow: 2px 2px 6px black;
  }
}